*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container-photos{
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 50px 8%;
}

.gallery{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    grid-gap: 20px;   
}

.gallery img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
    transition: transform 0.3s ease;
}

@media (min-width: 3000px) and (min-height: 1700px) {
    .container-photos {
        padding: 90px 6%;
    }

    .gallery {
        grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
        grid-gap: 34px;
    }

    .gallery img {
        border-radius: 16px;
    }
}